.statusContainer {
    display: flex;
    justify-content: flex-end;
}

.onlineStatusCircle {
    width: 10px;
    height: 10px;
    margin-top: 7px;
    margin-left: 3px;
    border-radius: 100%;
    background-color: green;
}

.offlineStatusCircle {
    width: 10px;
    height: 10px;
    margin-top: 7px;
    margin-left: 3px;
    border-radius: 100%;
    background-color: red;
}

.networkStatusCircle {
    width: 10px;
    height: 10px;
    margin-top: 7px;
    margin-left: 3px;
    border-radius: 100%;
    background-color: yellow;
}
