.imageContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 400px;
    height: 400px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.downloadButton {
    margin-top: 50px;
    margin-bottom: 50px;
}
