.paginationButtons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.item:hover {
    background: #c6c4c4;
}

.pieChartContainer {
    width: 500px;
    height: 500px;
}

.generateButton {
    margin-top: 25px;
    margin-bottom: 25px;
}

.dropTableButton {
    margin-top: 25px;
    margin-bottom: 150px;
}

.statusContainer {
    display: flex;
    justify-content: flex-end;
}

.onlineStatusCircle {
    width: 10px;
    height: 10px;
    margin-top: 7px;
    margin-left: 3px;
    border-radius: 100%;
    background-color: green;
}

.offlineStatusCircle {
    width: 10px;
    height: 10px;
    margin-top: 7px;
    margin-left: 3px;
    border-radius: 100%;
    background-color: red;
}
