.paginationButtons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.item:hover {
    background: #c6c4c4;
}

.pieChartContainer {
    width: 500px;
    height: 500px;
}

.generateButton {
    margin-top: 25px;
    margin-bottom: 25px;
}
